<html>
<head>
    <title> </title>
</head>

<body>

<h2> Magazine </h2>
    <form action="http://localhost/CodeIgniter/index.php/Magazines/{{ action }}{% if %}/{{ id }}{% endif %}" method="post">

        <label for="name"> Name of the magazine </label><br/>
            <input type="text" name="name" value="{{ magazine.name }}"> <br/><br/>

        <label for="price"> Price of the magazine </label><br/>
            <input type="number" name="price" value="{{ magazine.price }}"><br/><br/>

        <label for="kind"> Kind of the magazine </label><br/>
            <input type="text" name="kind" value="{{ magazine.kind }}"><br/><br/>

        <label for="quantity"> Quantity of the magazine </label><br/>
            <input type="text" name="quantity" value="{{ magazine.quantity }}"><br/><br/>

        <input type="submit" value="Save new magazine">

    </form>
</body>
</html>