<html>
<head>
    <title> </title>
</head>

<body>

<h2> You inserted the videotape of the film: </h2>
<ul>

     <li> {{ videotape.title }} </li> </br>
     <li> {{ videotape.year }} </li> </br>
    <li> {{ videotape.country }} </li> </br>
    <li>{{ videotape.genre }} </li> </br>
    <li> {{ videotape.shortDescription }} </li> </br>
    <li>{{ videotape.mainActors }} </li> </br>
    <li> {{ videotape.quantity }} </li> <br/>

    </ul>
</body>
</html>
