<html>
<head>
    <title> All Beauty Products </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ baseUrl }}/application/assets/js/beautyShop.js"></script>
</head>

<body>
<h2> All beauty products </h2>

<div>BASKET AMOUNT: {{ basket.amount }}</div>
</div> <br/>
<form action="http://localhost/CodeIgniter/index.php/BeautyShop/searchProduct" method="post">

    <label for="brand">Search product by brand:  </label><br/>
    <input type="text" name="brand">

    <input type="submit" value="Search">
</form> <br/>


<ol>


    {% for allBeautyProducts in beautyProducts %}
        <li class="post-{{ allBeautyProducts.id }}">
            {{ allBeautyProducts.brand }}
            {{ allBeautyProducts.kind }},
            {{ allBeautyProducts.name }}
            Collection: {{ allBeautyProducts.collection }}
            Price: {{ allBeautyProducts.price }}
            Quantity: {{ allBeautyProducts.quantity }}

            <form action="http://localhost/CodeIgniter/index.php/BeautyShopBasket/addToBasket" method="POST">
                <input type= "hidden" name= "productId" value= "{{ allBeautyProducts.id }}"/>
                <input type= "submit" value= "Buy"> <br/>
             </form>
             <button class="post-delete" post-id = "{{ allBeautyProducts.id }}"> Delete this product </button>
            <a href="http://localhost/CodeIgniter/index.php/BeautyShop/updateForm/{{ allBeautyProducts.id }}"> Update this product </a>


        </li>
    {% endfor %} <br/> <br/>
</ol>

</body>

</html>