<html>
<head>
    <title> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ baseUrl }}/application/assets/js/deeds.js"></script>
</head>

<body>
<form action="http://localhost/CodeIgniter/index.php/Deeds/searchDeeds" method="POST">

    <label for="personalNumber">Personal Number: </label><br/>
    <input type="text" name="personalNumber"> <br/><br/>

    <input type="submit" value="Search">
</form>
    <ol>

        {% for deed in deeds %}
        <li class="post-{{ deed.id }}">
            Deed Number: {{ deed.deedNumber }};
           Deed act number: {{ deed.actNumber }}

            ---> <button class="post-delete" post-id="{{ deed.id }}"> Delete this Deed </button>
            ---> <a href="http://localhost/CodeIgniter/index.php/Deeds/editForm/{{ deed.id }}"> Edit the info for Deed </a>
            </li>
        {% endfor %}
    </ol>
</body>
</html>
