<html>
<head>
    <title> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ baseUrl }}/application/assets/js/supermarket.js"></script>
</head>
</head>
<body>
<ol>
    {%  for dataProducts in products %}
    <li class= "post-{{ dataProducts.id }}">
       Product name: {{ dataProducts.productName }};
        Price: {{ dataProducts.price }};
        Barcode: {{ dataProducts.barcode }};
        Quantity: {{ dataProducts.quantity }};<br/>


        <button class="post-delete" post-id = "{{ dataProducts.id }}">Delete this product </button>
    </li><br>
    {% endfor %}
</ol>
</body>
</html>