<html xmlns="http://www.w3.org/1999/html">

<head>
    <title> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ baseUrl }}/application/assets/js/animal.js"></script>
</head>
<body>

<form action="http://localhost/CodeIgniter/index.php/Animals/searchAnimal" method="post">

    <label for="nameOfTheType"> Search by name:  </label> <br/><br>
    <input type="text" name="nameOfTheType"> <br/><br/>


    <label for="habitat"> Search by habitat: </label> <br/><br>
    <input type="text" name="habitat"><br/> <br/>

    <input type="submit" value="Search">
</form>


    <ol>
            {% for allAnimals in zoo  %}
                <li class="post-{{ allAnimals.id }}">
            Type: {{ allAnimals.nameOfTheType }};
            Kind: {{ allAnimals.kind }};
           Name: {{ allAnimals.nameOfTheAnimal }};
            Age: {{ allAnimals.age }}<br/>

                <button class="post-delete" post-id="{{ allAnimals.id }}" > Delete this animal </button>
                ---><a href="http://localhost/CodeIgniter/index.php/Animals/updateForm/{{ allAnimals.id }}" > Update this animal </a>
                </li><br/>
            {% endfor %}

    </ol>
</body>
</html>
